/* jeu */

body{
  background-color: rgb(16,16,73);
  overflow: hidden; /*a enlever pour pouvoir scroller la page*/
}

.scene{
  background-color:  rgb(16,16,73);
  position: relative;
  border: 200px, red;
}

.fond{
  position:absolute;
  /* z-index: 4; */
}

.fond img{
  width:150%;
}
.personnage{
  z-index: 2;
  background-color: transparent;

  position: relative;

}
.personnage.gd{
  background-color: rgb(16,16,73);
}
.personnage.dg{
  background-color: rgb(16,16,73);
}

figure {
    margin: 0;
}
/* mise en page */


.entete{
  height:150px;
  background-color:  rgb(16,16,73);
}

.menu{
  display: inline-block;
  width:100%;
  background-color: rgb(16,16,73);
  vertical-align: top;
}

.crane>img{
  top: 450px;
  left: 360px;
  width: 350px;
  position: absolute;
}

.dragon>img{
  width: 350px;
}

.lutin>img{
  width: 350px;
}

.tetes>img{
  width: 350px;
}

.contenu{
  display: inline-block;
  width:75%;
  background-color: rgb(16,16,73);
  vertical-align: top;
}

.coeur{
  position:absolute;
  top:100px;
  left: 150px;
  z-index: 10;
  width: 100px;
  height: 100px;
}
.coeur img{
  max-width: 100%;
}
